@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151515;
    color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #151515;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #E50916;
    color: #151515;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 35px;
}

.logo {
    font-size: 1.0rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    position: relative; 
    display: flex; 
    margin-top: -8px;
}

.location {
    font-size: 0.8rem;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    display: ruby-base-container;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #E50916;
}


.contact {
    height: 100vh;
    color: #151515;
    padding: 20px;
}

.sticky {
    color: #E50916;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    z-index: 1000;
}

header.sticky {
    display: none;
    background-color: transparent;
    color: #E50916;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sticky .logo {
    font-size: 1.2rem;
}

.active {
    color: #E50916;
}

.movie-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background-image: url('https://www.indiaherald.com/Assets/ArticleUpload/202418225713448_GDUrDOzbYAA1O8y.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    margin-top: 20px;
    padding: 20px;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 0;
}

.poster {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    filter: brightness(120%);
    position: absolute;
    top: 0;
    left: 0px;
    margin: auto;
}

.movie-info {
    flex: 1;
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
    max-width: 50%;
    margin: 0 auto;
    left: 20px;
    
}

.movie-info h1 {
    margin: 0 0 10px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.movie-info h1:hover {
    color: #E50916;
    transform: scale(1.1);
    
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating {
    margin-right: 10px;
}

#rate-now-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: color 0.1s, border-color 0.1s;
    border-radius: 25px;
}

#rate-now-button:hover {
    color: #ffffff;
    border-color: #E50916;
    background-color: #E50916;
    transform: scale(1.1);
}


.genre {
    position: relative;
    display: inline-block;
}

.genre::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #E50916;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.genre:hover::after {
    transform: scaleX(1);
}

.languages, .formats {
    margin-bottom: 15px;
}

.languages span, .formats span {
    margin-right: 5px;
    
    border-radius: 20px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.actions {
    margin-top: 20px;
}

.actions .btn {
    padding: 10px 20px;
    background: linear-gradient(90deg, #E50916, #E50916);
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
}

.actions .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-description, .cast, .crew {
    margin-top: 20px;
}

.cast-list, .crew-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cast-member, .crew-member {
    text-align: center;
    margin: 10px;
    transition: transform 0.1s;
}

.cast-member img, .crew-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.cast-member p, .crew-member p {
    margin: 5px 0 0;
    color: #ffffff;
}

.cast-member:hover, .crew-member:hover {
    transform: scale(1.1);
}


.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #151515;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    height: 55%;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #E50916;
    float: right;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    
}

.close:hover {
    color: #E50916;
}

.modal-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

body.modal-open {
    overflow: hidden;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
